html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $basic-dark-grey-color;
  background-color: $bg-basic-light;
}
