/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: $basic-dark-grey-color;
  background-color: $bg-basic-light;
}
