.product-card-extra {
  list-style: none;
}

.product-card-extra__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $dark-secondary-color;
}

.product-card-extra__list {
  line-height: 14px;
}

.additional-products__offer {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/cat-catalog-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 290px;
}

.additional-products__offer-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $basic-light-color;
}
