.advantages__wrapper {
  margin-bottom: 49px;
}

.advantages__title {
  margin-top: 20px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 71px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: advantages 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 230px 325px;
    gap: 37px 153px;
  }

  @media (min-width: $desktop-width) {
    //grid-template-columns: 230px 246px 248px 250px;
    grid-template-columns: 248px 250px 250px 248px;
    //gap: 94px;
    gap: 76px;
  }
}

.advantages__item {
  width: 280px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    min-height: 280px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__item:first-child {
    width: 230px;
  }

  .advantages__item:nth-child(2) {
    width: 224px;
  }

  .advantages__item:nth-child(3) {
    width: 207px;
  }

  .advantages__item:last-child {
    width: 245px;
  }
}

.advantages__description {
  position: relative;
  padding-left: 80px;
  margin: 0;
  counter-increment: advantages 1;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 151px;
  }
}

.advantages__description::before {
  content: "";
  position: absolute;
  right: 220px;
  display: block;
  width: 60px;
  height: 60px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    top: 40px;
    left: 0;
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $tablet-width) {
  .advantages__description::after {
    content: counter(advantages);
    position: absolute;
    top: 0;
    left: 118px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    z-index: -1;
    color: $bg-primary-grey;
  }
}

.advantages__description--healthy::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 30px 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__description--fast::before {
  background-image: url("../../icons/stack.svg#powder");
  background-size: 26px 29px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__description--schedule::before {
  background-image: url("../../icons/stack.svg#eat");
  background-size: 25px 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__description--result::before {
  background-image: url("../../icons/stack.svg#clock");
  background-size: 26px 31px;
  background-position: center;
  background-repeat: no-repeat;
}
