.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 230px 246px;
    gap: 37px 153px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 230px 246px 248px 250px;
    gap: 94px;
  }
}

.advantages__description {
  position: relative;
}

.advantages__description::before {
  content: "";
  // position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-color: $basic-green;
}

.advantages__description--healthy::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 30px 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__description--fast::before {
  background-image: url("../../icons/stack.svg#powder");
  background-size: 26px 29px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__description--schedule::before {
  background-image: url("../../icons/stack.svg#eat");
  background-size: 25px 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.advantages__description--result::before {
  background-image: url("../../icons/stack.svg#clock");
  background-size: 26px 31px;
  background-position: center;
  background-repeat: no-repeat;
}
