.catalog-container__title {
  margin-bottom: 41px;
  margin-top: 28px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $dark-color;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
    margin-bottom: 90px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
  }
}

.catalog__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 63px 80px;
  }
}
