.catalog-container__wrapper-inner {
  @media (min-width: $tablet-width) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.catalog-container__title {
  max-width: 400px;
  margin: 28px auto 41px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $dark-color;

  @media (min-width: $tablet-width) {
    max-width: 600px;
    margin: 52px 0 86px;
    padding-left: 0;
    padding-right: 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 61px;
  }
}

.catalog__list {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 63px 80px;
  }
}
