.contacts__description {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-primary-color;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}
