.example {
  background-color: $bg-secondary-grey;
}

// .example__wrapper {
//   width: 280px;
//   box-sizing: border-box;
// }

.example__title {
  padding-top: 25px;
}

.example__list {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  //text-align: center;
  list-style: none;
  margin-top: 20px;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  border: 1px solid $special-grey-color;
  border-radius: 3px;
}

.example__item-title {
  font-family: $secondary-font;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 8px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-color;
}

.example__item-name {
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  margin: 0;
}

.example__cost {
  font-family: $secondary-font;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-color;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
