.main-nav {
  position: relative;
  background-color: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list-item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    z-index: 100;
    top: 9px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    background-color: $bg-basic-light;

    @media (min-width: $tablet-width) {
      position: static;
    }
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__list-item {
    display: block;
  }
}

.main-nav__list {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  background-color: $bg-basic-light;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    width: 436px;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    gap: 33px;
    width: 480px;
    padding-top: 75px;
  }
}

.main-nav__list--index {
  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-nav__list-item--current {
  position: relative;
}

.main-nav__list-item--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    top: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 31px;
  }
}

.main-nav__list-item {
  border-top: 1px solid $light-grey-color;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.main-nav__link {
  display: block;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-color;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.main-header--index .main-nav__link {
  @media (min-width: $desktop-width) {
    color: $basic-light-color;
  }
}

.main-header--index .main-nav__list-item--current::after {
  @media (min-width: $desktop-width) {
    background-color: $basic-light-color;
  }
}
