.product-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 62px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 64px 80px;
  }
}

.product-card__item {
  display: flex;
  flex-direction: column;
  padding: 23px 20px 24px;
  border-top: 1px solid $bg-special-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 37px 40px;
    background-image: linear-gradient($bg-basic-light 79px, $bg-primary-grey 79px);
    border-top: none;
  }
}

// .product-card__item-wrapper {
//   margin-left: auto;
//   margin-right: auto;
// }

.product-card__wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-top: 9px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;
  }
}

.product-card__link-title {
  text-decoration: none;
}

.product-card__title {
  margin: -1px 64px 14px 0;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $dark-secondary-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 140px;
    margin: 21px auto 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 11px auto 0;
  }
}

.product-card__list {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 8px;
    margin-top: 22px;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: 5px;
    margin-top: 24px;
  }
}

.product-card__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;

  @media (min-width: $tablet-width) {
    align-self: center;
    width: 200px;
    height: 210px;
    padding-top: 1px;
  }
}

.product-card__info {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 2px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
  }
}

.product-card__value {
  @media (min-width: $desktop-width) {
    margin-right: 3px;
  }
}

.product-card__button {
  grid-column: -3 / 3;
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
}
