.product-card {
  display: flex;
  flex-direction: column;
  //gap: 34px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 65px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 63px 80px;
  }
}

.product-card__item {
  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-template-columns: 140px 140px;
  padding-top: 23px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 37px 40px;
    background-image: linear-gradient($bg-basic-light 15%, $bg-primary-grey 15%);
  }
}

.product-card__wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    margin-bottom: 0;
  }
}

// .product-card__info-wrapper {
//   padding-top: 10px;
//   padding-bottom: 10px;
// }

.product-card__link-title {
  // margin: 0 64px 14px 0;
  text-decoration: none;
}

.product-card__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0 64px 14px 0;
  color: $dark-secondary-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    max-width: 140px;
    text-align: center;
    margin: 21px auto 20px;
  }
}

.product-card__list {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    display: grid;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 32px;
  }
}

.product-card__link-image {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 140px;
  // height: 107px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    align-self: center;
  }
}

.product-card__info {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 2px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-card__button {
  grid-column: -3 / 3;
  width: 100%;
}
