.product-card-extra {
  list-style: none;
}

.product-card-extra__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $dark-secondary-color;
}

.product-card-extra__list {
  line-height: 14px;
}
