.product-card-extra {
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    gap: 0;
    border-left: 1px solid $special-grey-color;
    border-right: 1px solid $special-grey-color;
    border-top: 1px solid $special-grey-color;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
  }
}

.product-card-extra__item {
  @media (min-width: $tablet-width) {
    display: grid;
    //row-gap: 23px;
    grid-template-columns: 316px 316px;
    align-items: center;
    padding: 26px 37px 28px;
    border-bottom: 1px solid $special-grey-color;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 325px) 244px;
    grid-template-rows: 40px;
    padding: 15px 0;
    align-items: center;
  }
}

.product-card-extra__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 13px;
  color: $dark-secondary-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.product-card-extra__list {
  line-height: 14px;
  margin: 0;
}

.product-card-extra__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    // display: grid;
    // grid-template-columns: 150px 166px;
    // justify-items: end;
    // margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

.product-card-extra__button {
  grid-column: -3 / 3;

  @media (min-width: $tablet-width) {
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3/4;
    //grid-row: -1/2;
    margin-top: 0;
  }
}

.product-card-extra__name {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 135px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.product-card-extra__value {
  //margin-right: 40px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-right: 3px;
    width: 91px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-right: 38px;
    width: 44px;
    text-align: left;
  }
}
