.slider__container {
  position: relative;
  width: 280px;
  height: 256px;
  margin: 0 auto;
  margin-top: -1px;

  @media (min-width: $tablet-width) {
    // top: 75px;
    margin-top: 95px;
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;
  }
}

.slider__images {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
}

.slider__image--after {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider__before {
  width: 100%;
  height: 100%;
  display: block;
  clip-path: inset(0 50% 0 0);
}

.slider__after {
  width: 100%;
  height: 100%;
  display: block;
  clip-path: inset(0 0 0 50%);
}

.slider__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider__button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: $basic-light-color;
  border: 2px solid $social-link-color;
  border-radius: 50%;
  translate: -50% -50%;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#slider-button");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $social-link-color;
    translate: -50% -50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: -108px;
    left: 50%;
    width: 4px;
    height: 108px;
    background-color: $social-link-color;
    translate: -50% 0;
    box-shadow: 0 144px 0 0 $social-link-color;
  }

  &:hover {
    border-color: $basic-green;

    &::before {
      background-color: $basic-green;
    }

    &::after {
      background-color: $basic-green;
      box-shadow: 0 144px 0 0 $basic-green;
    }
  }

  &:active {
    border-color: rgba(94, 170, 47, 0.6);

    &::before {
      background-color: rgba(94, 170, 47, 0.6);
    }

    &::after {
      background-color: rgba(94, 170, 47, 0.6);
      box-shadow: 0 144px 0 0 rgba(94, 170, 47, 0.6);
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: -236px;
      height: 236px;
      box-shadow: 0 274px 0 0 $social-link-color;
    }

    &:hover {
      &::after {
        box-shadow: 0 274px 0 0 $basic-green;
      }
    }

    &:active {
      &::after {
        box-shadow: 0 274px 0 0 rgba(94, 170, 47, 0.6);
      }
    }
  }
}
